/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  input {
    outline: none;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Login Container */
  .login-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 95%;
    width: 400px;
  }
  
  /* Form */
  .login-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Password Wrapper */
  .password-wrapper {
    position: relative;
  }
  
  .password-wrapper input {
    width: 100%;
    padding-right: 40px;
  }
  
  .toggle-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  /* Button */
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  /* Error Styling */
  .error-message {
    color: #ff0000;
    font-size: 0.9rem;
    margin-top: 5px;
    display: none;
  }
  /* Error Input Styling */
  input.error {
    border: 1px solid #ff0000;
  }
  /* Navigate to Login Link */
.navigate-register {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.navigate-register a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navigate-register a:hover {
  color: #0056b3;
}
/* Remember Me Checkbox */
.remember-me {
  display: flex;
  gap: 8px;
  margin: 10px 0;
  font-size: 14px;
}

.remember-me input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
